@inherits LayoutComponentBase
@using BugTrackerUI.UIThemeClasses

<nav class="sidebar">
    <!-- Nav Component goes here -->
    <LeftNav />
</nav>

<div class="main">
    @*
    <div class="top-row px-4">
        <h1>Welcome to the Bug Tracker app!</h1>
    </div>
    *@
    <CascadingValue Value="@theme">
      <div class="content px-4">
          @Body
      </div>
    </CascadingValue>
    @*<button @onclick="ChangeToDarkTheme">Dark mode</button>*@
</div>

@code {
    private ThemeInfo theme = new ThemeInfo { ButtonClass = "btn-success" };

    //private void ChangeToDarkTheme()
    //{
    //    theme = new ThemeInfo { ButtonClass = "btn-darkmode-success" };
    //}
}