@page "/control-render"
@using System.Diagnostics

<label>
    <input type="checkbox" @bind="shouldRender" />
    Should Render?
</label>

<p>Current count: @currentCount</p>

<p>
    <button @onclick="IncrementCount">Click me</button>
</p>

@code {
   private int currentCount = 0;
   private bool shouldRender = true;
   
   protected override void OnInitialized()
   {
      Debug.WriteLine("OnInitialized()");
   }

   protected override bool ShouldRender()
   {
      Debug.WriteLine($"shouldRender: {shouldRender}");
      return shouldRender;
   }
   
   private void IncrementCount()
   {
       currentCount++;
   }
}